// Specific CSS for your home-page
.custom-card {
  border: none;
}

.img-fluid {
  border-radius: 5px;
}

.container .card {
  background-color: white;
}

.container {
  background-color: white;
}

.btn-gray {
  background-color: gray;
  color: white;
  border-radius: 10px;
  border: none;
}
