<div class="container">
  <h1 style="text-align: center;">MealMate</h1>
  <div class="row">
    <% @meals.each do |meal| %>
      <div class="col-md-4">
        <div class="card">
          <% if meal.image_url.present? %>
            <%= image_tag meal.image_url, class: "card-img-top img-fluid", alt: meal.name, id: "meal-image-#{meal.id}" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title text-center"><%= meal.name %></h5>
          </div>
          <div class="card-footer text-center">

            <%# <button class="btn btn-primary btn-icon"><i class="fa-solid fa-plus"></i></button> %>
            <%= form_with url: add_to_my_recipes_meal_path(meal), method: :post do |form| %>

  <%= form.button class: "btn btn-primary btn-icon", id: "add-button-#{meal.id}" do %>

    <i class="fa-solid fa-plus"></i>

  <% end %>

<% end %>
            <button class="btn btn-primary btn-ver-receta">Ver receta</button>
            <button class="btn btn-outline-danger btn-corazon"><i class="fa-solid fa-heart"></i></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('[data-action="add"]').forEach(function(button) {
      button.addEventListener('click', function() {
        var icon = button.querySelector('i');
        if (icon.classList.contains('fa-plus')) {
          icon.classList.remove('fa-plus');
          icon.classList.add('fa-check');
          icon.style.color = '#63E6BE';
          button.setAttribute('data-action', 'check');
        } else {
          icon.classList.remove('fa-check');
          icon.classList.add('fa-plus');
          icon.style.color = ''; // Restaura el color original del icono
          button.setAttribute('data-action', 'add');
        }
      });
    });
  });
</script>
