
<div class="menu-container">
  <div class="menu-card">
    <div class="menu-header">
      <h1><%= @meal.name %></h1>
      <p>Calories: <%= @meal.calories %></p>
    </div>
    <div class="menu-body">
      <p class="preparation-label">Preparation:</p>
      <p class="description"><%= @meal.description %></p>
      <p class="recipe-description"><%= simple_format(@recipe_description) %></p>
    </div>
  </div>
</div>
