
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-nav .nav-link {
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4); /* Añade sombra al texto */
  margin: 5px; /* Separación entre enlaces */
  border-radius: 20px; /* Bordes más suaves */
  padding: 10px 20px; /* Espaciado interno */
  transition: transform 0.3s; /* Efecto de transición al pasar el mouse */
}

.navbar-lewagon .navbar-brand {
  color: white;
  font-style: italic;
  font-weight: bold;
}

// .navbar-lewagon .navbar-brand span {
//   cursor: pointer;
//   color: white;
//   transition: color 0.3s;
// }

.navbar-brand i {
  color: white; /* Cambiar color del texto a blanco */
  text-decoration: none; /* Eliminar subrayado */
}

.navbar-brand i:hover {
  text-decoration: none; /* Eliminar subrayado al pasar el mouse */
  color: #f10909;
}

.navbar-brand a:hover {
  text-decoration: none; /* Quitar subrayado al pasar el mouse */
}

.navbar-brand a {
  text-decoration: none; /* Quitar subrayado */
}

.navbar-lewagon .navbar-nav {
  display: flex;
  align-items: center; /* Centra los enlaces horizontalmente */
}

.navbar-lewagon .navbar-nav .nav-link:hover {
  color: #f10909;
  font-weight: bold;
  text-decoration: none; /* Quita el subrayado */
  transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}

.navbar-lewagon .navbar-nav .dropdown-menu .dropdown-item {
  color: black;
}

.navbar-lewagon .navbar-nav .dropdown-menu .dropdown-item {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 1rem; /* Agregar espaciado alrededor del texto */
  transition: all 0.3s ease; /* Aplicar transición a todas las propiedades */
}

.navbar-lewagon .navbar-nav .dropdown-menu .dropdown-item:hover {
  color: #fff; /* Cambiar el color del texto al hacer hover */
  background-color: #333; /* Cambiar el color de fondo al hacer hover */
  font-size: 1.1rem; /* Aumentar ligeramente el tamaño de la fuente al hacer hover */
}

.nav-item.dropdown .dropdown-menu {
  opacity: 0; /* Inicialmente, el dropdown estará invisible */
  transition: opacity 0.3s ease; /* Agregar transición para la opacidad */
}

.nav-item.dropdown .dropdown-menu.show {
  opacity: 1; /* Cuando el dropdown está abierto, será completamente visible */
}
