// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "meals/index";
@import "pages/login";
@import "pages/edit";
@import "components/searchh";
@import "pages/fav&recipe";
@import "pages/recipe";


.footer {
  background-color: black;
  padding: 20px 0;
  // position: inherit;
  // left: 0;
  // bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  // position: absolute;
}

.footer p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

/* Estilos generales */

// Estilos para pantallas pequeñas
@media only screen and (max-width: 768px) {
  .container2,
  .container4 {
    max-width: 90%; // Reducir el ancho máximo para pantallas pequeñas
  }

  .menu-container {
    max-width: 90%; // Reducir el ancho máximo del contenedor de menú para pantallas pequeñas
  }

  .col-4 .img-fluid {
    max-width: 100%; // Asegurar que las imágenes se ajusten al ancho del contenedor en pantallas pequeñas
  }

  // Agregar más estilos específicos para pantallas pequeñas según sea necesario
}

// Estilos para pantallas medianas
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  // Agregar estilos específicos para pantallas medianas según sea necesario
}

// Estilos para pantallas grandes
@media only screen and (min-width: 1025px) {
  // Agregar estilos específicos para pantallas grandes según sea necesario
}

@media only screen and (max-width: 768px) {
  .d-flex.flex-wrap {
    flex-direction: column; /* Cambiar a disposición de columna en dispositivos móviles */
  }
}
