.card-footer {
  display: none;
}

.card:hover .card-footer {
  display: block;
}

.card {
  border: none;
  height: 100%;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
}

.mealcard {
  background: linear-gradient(to bottom, #ffffff, #f10909);
  border-radius: 20px;
  transition: filter 200ms linear, transform 200ms linear;
  // margin-top: 20px; /* Espacio entre el navbar y las cartas */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

.mealcard .btn-delete-meal {
  position: absolute;
  bottom: 10px; /* Ajusta la distancia desde la parte superior */
  right: 10px; /* Ajusta la distancia desde la derecha */
}

.btn-delete-meal:hover {
  color: #ffffff;
}

.btn-heart:hover {
  color: #ffffff;
}

.card-img-top {
  object-fit: cover; // Para que la imagen se ajuste al tamaño de la tarjeta
  height: 200px; // Altura predeterminada para la imagen
}

/* Estilo por defecto */
.btn-ver-receta {
  background-color: black;
  color: white;
  border-color: black; /* Para evitar el borde azul */
}

/* Estilo al pasar el mouse */
.btn-ver-receta:hover {
  background-color: #35383b; /* Gris */
  color: white; /* Opcional: mantener el texto en blanco */
}

.mealcard-grid:hover > .mealcard:not(:hover) {
  filter: blur(5px);
}

.mealcard.blur {
  filter: blur(5px);
}
