.card-footer {
  display: none;
}

.card:hover .card-footer {
  display: block;
}

.card {
  border: none;
  height: 100%;
}

.card-img-top {
  object-fit: cover; // Para que la imagen se ajuste al tamaño de la tarjeta
  height: 200px; // Altura predeterminada para la imagen
}

/* Estilo por defecto */
.btn-ver-receta {
  background-color: black;
  color: white;
  border-color: black; /* Para evitar el borde azul */
}

/* Estilo al pasar el mouse */
.btn-ver-receta:hover {
  background-color: #35383b; /* Gris */
  color: white; /* Opcional: mantener el texto en blanco */
}
